# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/
.venv/

# Environment variables / secrets
.env

# OS/editor junk
.DS_Store
.vscode/
.idea/

# Optional: ignore large or generated outputs
*.png
*.jpg
output/
